* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #563E94;
    // font-family: 'Mulish', sans-serif;
    font-family: 'Rubik', sans-serif;
}
html {
    scroll-behavior: smooth;
    direction: rtl;
}
.dir-ltr {
    direction: ltr;
}
a {
    text-decoration: none;
}
ul {
    padding: 0;
    li {
        list-style: none;
    }
}
.slick-slider, .slick-list, .slick-track {
    height: inherit;
}
a.button, button.button {
    width: 230px;
    height: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    border: 1px solid #fff;
    border-radius: 30px;
    justify-content: center;
    direction: ltr;
    color: #fff;
    font-size: 20px;
    margin: 0 auto;
    grid-gap: 15px;
    transition: all 0.3s ease-in-out;
    // &:hover {
    //     background-color: #563E94;
    // }
    @media (min-width: 320px) and (max-width: 1023px) {
        width: 220px;
        height: 45px;
    }
    i {
        color: #fff;
    }
}
.main-container {
    max-width: 1920px;
    margin: 0 auto;
    // @media (min-width: 320px) and (max-width: 1023px) {
    //     padding-bottom: 22px;
    // }
    .inner-container {
        width: 1320px;
        margin: 0 auto;
        @media (min-width: 320px) and (max-width: 1340px) {
            width: 100%;
        }
    }

    header {
        height: 120px;
        display: flex;
        background-color: #EFEFEF;
        position: relative;
        @media (min-width: 320px) and (max-width: 1023px) {
            height: 65px;
            padding: 0 20px;
        }
        @media (min-width: 1024px) and (max-width: 1340px) {
            padding: 0 20px;
        }
        .header-content {
            height: inherit;
            display: flex;
            justify-content: space-between;
            align-items: center;
            h1.logo {
                height: 93px;
                @media (min-width: 320px) and (max-width: 1023px) {
                    height: 40px;
                }
                a {
                    height: 93px;
                    display: flex;
                    align-items: center;
                    grid-gap: 15px;
                    font-size: 26px;
                    @media (min-width: 320px) and (max-width: 1023px) {
                        height: 40px;
                        font-size: 20px;
                    }
                    span.text {
                        display: grid;
                        text-align: center;
                    }
                    img {
                        width: 65px;
                        @media (min-width: 320px) and (max-width: 1023px) {
                            width: 40px;
                        }
                    }
                }
            }
        }
        ul.main-menu {
            height: inherit;
            display: flex;
            grid-gap: 80px;
            align-items: center;
            transition: all 0.3s ease-in-out;
            @media (min-width: 320px) and (max-width: 1023px) {
                display: block;
                height: auto;
                position: absolute;
                left: 0;
                right: 0;
                top: 65px;
                z-index: 1;
                background-color: #fff;
                padding: 20px;
                transform: translateY(-180%);
            }
            li {
                a {
                    font-size: 22px;
                }
            }
        }
        ul.main-menu.show {
            transform: translateY(0);
            
            li {
                margin: 0 0 12px;
                &:last-child {
                    margin: 0;
                }
            }
        }
        .mobile-menu-button {
            display: none;
            position: absolute;
            left: 20px;
            top: 50%;
            transform: translate(0, -50%);
            @media (min-width: 320px) and (max-width: 1023px) {
                display: block;
            }
        }
    }
    .banner-container {
        height: 620px;
        position: relative;
        background-color: #EFEFEF;
        // padding: 0 20px;
        @media (min-width: 320px) and (max-width: 767px) {
            height: 460px;
        }
        @media (min-width: 768px) and (max-width: 767px) {
            height: 520px;
        }
        @media (min-width: 1024px) and (max-width: 1340px) {
            height: 590px;
        }
        .banner-content {
            position: relative;
            height: inherit;
            // display: grid;
            // grid-template-columns: 1fr 1fr;
            // grid-gap: 50px;
            // height: inherit;
            // align-items: center;
            // @media (min-width: 320px) and (max-width: 1023px) {
            //     display: flex;
            //     flex-direction: column;
            // }
            // .banner-left-content {
            //     h2 {
            //         font-weight: 700;
            //         font-size: 64px;
            //         line-height: 77px;
            //         margin: 0 0 55px;
            //         max-width: 390px;
            //         @media (min-width: 320px) and (max-width: 1023px) {
            //             font-size: 28px;
            //             line-height: 30px;
            //             text-align: center;
            //             margin: 0 0 30px;
            //             max-width: 100%
            //         }
            //     }
            //     p {
            //         font-weight: 500;
            //         font-size: 24px;
            //         line-height: 29px;
            //         margin: 0 0 60px;
            //         max-width: 586px;
            //         @media (min-width: 320px) and (max-width: 1023px) {
            //             font-size: 20px;
            //             line-height: 26px;
            //             text-align: center;
            //             margin: 0 0 30px;
            //         }
            //     }
            //     a {
            //         display: flex;
            //         grid-gap: 10px;
            //         font-weight: bold;
            //         @media (min-width: 320px) and (max-width: 1023px) {
            //             margin: 0 auto;
            //         }
            //     }
            // }
            // .banner-right-content {
            //     img {
            //         @media (min-width: 320px) and (max-width: 620px) {
            //             width: 280px;
            //         }
            //         @media (min-width: 621px) and (max-width: 767px) {
            //             width: 380px;
            //         }
            //         @media (min-width: 768px) and (max-width: 1023px) {
            //             width: 420px;
            //         }
            //         @media (min-width: 1024px) and (max-width: 1340px) {
            //             width: 460px;
            //         }
            //     }
            // }
            span.overlay {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                background-color: rgba(0, 0, 0, 0.5);
            }
            .banner-slider-container {
                height: inherit;
            }
            .single-banner-slider {
                height: inherit;
                background-size: cover;
                background-position: center;
                position: relative;
                &:after {
                    content: "";
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    background-color: rgba(0, 0, 0, 0.6);
                }
                .banner-data {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    z-index: 10;
                    h2 {
                        font-size: 48px;
                        color: #fff;
                        margin: 0 0 45px;
                        @media (min-width: 320px) and (max-width: 1023px) {
                            font-size: 30px;
                        }
                    }
                }
            }
            .banner-slider-1 {
                background-image: url(../img/a_doors.webp);
                position: relative;
            }
            .banner-slider-2 {
                background-image: url(../img/a_windows.webp);
                position: relative;
            }
            .banner-slider-3 {
                background-image: url(../img/a_handrails.webp);
                position: relative;
            }
            .banner-slider-4 {
                background-image: url(../img/a_kitchens.webp);
                position: relative;
            }
            .banner-slider-5 {
                background-image: url(../img/a_shutters.webp);
                position: relative;
            }
            .banner-slider-6 {
                background-image: url(../img/a_doubleaction.webp);
                position: relative;
            }
            .banner-slider-7 {
                background-image: url(../img/a_chimney.webp);
                position: relative;
            }
            .banner-slider-8 {
                background-image: url(../img/jamb_secret.webp);
                position: relative;
            }
            .banner-slider-9 {
                background-image: url(../img/cotton-wall2.webp);
                position: relative;
            }
            .banner-slider-10 {
                background-image: url(../img/a_rapair.webp);
                position: relative;
            }
        }
    }
    .row-content-container {
        padding: 80px 0;
        @media (min-width: 320px) and (max-width: 1023px) {
            padding: 25px 20px;
        }
        .row-content {
            @media (min-width: 1024px) and (max-width: 1340px) {
                padding: 0 20px;
            }
            h2 {
                text-align: center;
                font-size: 48px;
                font-weight: 700;
                margin: 0 0 60px;
                @media (min-width: 320px) and (max-width: 1023px) {
                    font-size: 28px;
                    margin: 0 0 40px;
                }
            }

            h3 {
                font-weight: 700;
                font-size: 24px;
                line-height: 36px;
                margin: 0 0 8px;
                @media (min-width: 320px) and (max-width: 1023px) {
                    font-size: 20px;
                    line-height: 32px;
                }
            }
            ul {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                justify-content: space-between;
                margin: 0 0 60px;
                @media (min-width: 320px) and (max-width: 1023px) {
                    grid-template-columns: 1fr;
                    grid-gap: 30px;
                }
                li {
                    text-align: center;
                        // @media (min-width: 320px) and (max-width: 1023px) {
                        //     text-align: left;
                        // }
                }
                svg {
                    display: inline-block;
                    margin: 0 0 10px;
                    width: 28px;
                    height: 28px;
                    @media (min-width: 320px) and (max-width: 1023px) {
                        width: 22px;
                        height: 22px;
                    }
                }
                p, a {
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 26px;
                    margin: 0;
                    @media (min-width: 320px) and (max-width: 1023px) {
                        font-size: 16px;
                        line-height: 22px;
                    }
                }
            }
            .row-right-content {
                display: flex;
                justify-content: end;
                @media (min-width: 320px) and (max-width: 1023px) {
                    justify-content: center;
                }
                img {
                    width: 550px;
                    height: 264px;
                    object-fit: cover;
                    @media (min-width: 320px) and (max-width: 480px) {
                        width: 280px;
                    }
                    @media (min-width: 481px) and (max-width: 600px) {
                        width: 380px;
                    }
                    @media (min-width: 1024px) and (max-width: 1340px) {
                        width: 460px;
                    }
                }
            }
            .working-hours {
                text-align: center;
            }
        }
        .about-us-content {
            display: grid;
            grid-gap: 100px;
            grid-template-columns: 380px 1fr;
            @media (min-width: 320px) and (max-width: 1023px) {
                grid-template-columns: 1fr;
                grid-gap: 40px;
            }
            h3 {
                font-weight: 600;
                font-size: 24px;
                margin: 0 0 32px;
            }
            ul {
                display: grid;
                grid-gap: 20px;
                grid-template-columns: 1fr;
                @media (min-width: 320px) and (max-width: 1023px) {
                    grid-gap: 12px;
                }
                li {
                    text-align: left;
                    a {
                        display: flex;
                        grid-gap: 20px;
                        align-items: center;
                        svg {
                            margin: 0;
                        }
                    }
                }
            } 
        }
    }
    .colored-row-content-container {
        background-color: #EFEFEF;
    }
    .services-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 40px;
        @media (min-width: 320px) and (max-width: 620px) {
            grid-template-columns: 1fr;
            grid-gap: 45px;
        }
        @media (min-width: 621px) and (max-width: 1023px) {
            grid-template-columns: 1fr 1fr;
            grid-gap: 25px;
        }
        @media (min-width: 1024px) and (max-width: 1340px) {
            grid-gap: 35px;
        }
        .single-service {
            box-shadow: 0 2px 25px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            overflow: hidden;
        }
        .service-img {
            height: 220px;
            @media (min-width: 320px) and (max-width: 1023px) {
                height: 160px;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .service-content {
            padding: 30px 20px;
            @media (min-width: 320px) and (max-width: 1023px) {
                padding: 20px;
            }
            h3 {
                font-weight: bold;
                font-size: 25px;
                line-height: 28px;
                margin: 0 0 24px;
            }
            p {
                font-size: 16px;
                line-height: 25px;
            }
        }
    }
    .feature-container
    {
        .feature-grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            // justify-content: space-between;
            grid-gap: 40px;
            @media (min-width: 320px) and (max-width: 620px) {
                grid-template-columns: 1fr;
            }
            @media (min-width: 621px) and (max-width: 1023px) {
                grid-template-columns: 1fr;
            }
            .feature-content {
                @media (min-width: 320px) and (max-width: 620px) {
                    order: 2;
                }
                @media (min-width: 621px) and (max-width: 1023px) {
                    order: 2;
                }
                p {
                    font-size: 28px;
                    margin-bottom: 25px;
                    @media (min-width: 320px) and (max-width: 620px) {
                        font-size: 24px;
                    }
                    &:last-child {
                        margin-bottom: 0px;
                    }
                }
            }
            .feature-img {
                @media (min-width: 621px) and (max-width: 1023px) {
                    text-align: center;
                }
                img {
                    height: 540px;
                    width: 630px;
                    @media (min-width: 320px) and (max-width: 620px) {
                        width: 100%;
                        height: auto;
                        order: 1;
                    }
                }
            }
        }
    }
        .key-action-container {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            justify-items: center;
            @media (min-width: 320px) and (max-width: 620px) {
                grid-template-columns: 1fr;
                grid-gap: 17px;
            }
            @media (min-width: 621px) and (max-width: 1023px) {
                grid-template-columns: 1fr 1fr;
                grid-gap: 25px;
            }
            @media (min-width: 1024px) and (max-width: 1340px) {
                grid-gap: 23px;
                grid-template-columns: 1fr 1fr 1fr 1fr;
            }
            .single-action {
                span.action-icons {
                    display: grid;
                    justify-items: center;
                    margin-bottom: 40px;
                    @media (min-width: 320px) and (max-width: 620px) {
                        margin-bottom: 15px;
                    }
                    @media (min-width: 621px) and (max-width: 1023px) {
                        margin-bottom: 30px;
                    }
                    @media (min-width: 1024px) and (max-width: 1340px) {
                        grid-gap: 23px;
                        grid-template-columns: 1fr 1fr 1fr 1fr;
                    }
                    i {
                        font-size: 48px;
                        @media (min-width: 320px) and (max-width: 620px) {
                            font-size: 30px;
                        }
                        @media (min-width: 621px) and (max-width: 1023px) {
                            font-size: 34px;
                        }
                        @media (min-width: 1024px) and (max-width: 1340px) {
                            font-size: 45px;
                        }
                    }
                }
                h3 {
                    font-size: 34px;
                    @media (min-width: 320px) and (max-width: 620px) {
                        font-size: 25px;
                    }
                    @media (min-width: 621px) and (max-width: 1023px) {
                        font-size: 34px;
                    }
                    @media (min-width: 1024px) and (max-width: 1340px) {
                        font-size: 37px;
                    }
                }
            }
        }
    footer {
        height: 65px;
        @media (min-width: 320px) and (max-width: 1023px) {
            height: auto;
        }
        @media (min-width: 320px) and (max-width: 1340px) {
            padding: 0 20px;
        }
        .footer-content {
            height: inherit;
            display: grid;
            justify-items: center;
            @media (min-width: 320px) and (max-width: 1023px) {
                padding: 15px 0;
                text-align: center;
                justify-content: center;
            }
            p {
                grid-row: 2;
                text-align: center;
            }
        }
    }
    .fixed-footer-bar {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #fff;
        height: 60px;
        display: flex;
        align-items: center;
        padding: 0 20px;
        box-shadow: 0 2px 25px rgba(0, 0, 0, 0.1);
        display: none;
        @media (min-width: 320px) and (max-width: 1023px) {
            display: none;
        }
        ul {
            display: flex;
            justify-content: space-between;
            width: 100%;
            li {
                a {
                    display: grid;
                    text-align: center;
                    font-size: 14px;
                    grid-gap: 5px;
                    i {
                        font-size: 18px;
                    }
                }
            }
        }
    }
    .call-icons {
        display: grid;
        grid-gap: 20px;
        position: fixed;
        bottom: 72px;
        right: 20px;
        @media (min-width: 320px) and (max-width: 1023px) {
            bottom: 60px;
            right: 20px;
        }
        a.call-icons-circle {
            display: block;
            width: 55px;
            height: 55px;
            border-radius: 50%;
            position: relative;
            @media (min-width: 320px) and (max-width: 1023px) {
                width: 45px;
                height: 45px;
            }
            i {
                display: grid;
                line-height: 55px;
                align-items: center;
                justify-items: center;
                color: #fff;
                font-size: 25px;
                @media (min-width: 320px) and (max-width: 1023px) {
                   font-size: 22px;
                   line-height: 45px;
                }
                &:hover {
                    color: #338;
                }
            }
        }
        .whatsapp-icon {
            background-color: #25D366;
        }
        .phone-icon {
            background: #06c;
        }
    }
}
// slick slider css 
// .slick-track {
//     width: 100% !important;
//     opacity: 2 !important;
//     transform: translate3d(0px, 0px, 0px) !important;
// }